:root {
	--primary-background-color: #ffffff;
	--secondary-background-color: #f5f4fa;
	--footer-background-color: #2f303a;
	--focus-color: #2196f3;
	--primary-font-color: #757575;
	--secondary-font-color: #212121;
}

body {
	background-color: var(--primary-background-color);
	color: var(--primary-font-color);

	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
/* Обнуление/Скрытие элементов */
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.section-title-none {
	display: none;
}

.container {
	width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
}

img {
	display: block;
}

/* Header */

.page-header {
	border-bottom: 1px solid #ececec;
}

.header-div.container {
	display: flex;
	align-items: center;
}

.nav-container {
	display: flex;
	align-items: center;
}
/* logo */

.logo {
	margin-right: 93px;
	color: var(--secondary-font-color);

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;

	text-decoration: none;
}

.logo span {
	color: var(--focus-color);
}

.logo:hover,
.logo:focus {
	color: var(--focus-color);
}

/* nav */

.nav-list {
	display: flex;
}

.nav-list .item:not(:last-child) {
	margin-right: 50px;
}

.nav .link.current {
	color: var(--focus-color);
}

.nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--secondary-font-color);
	text-decoration: none;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.02em;
}

.nav .link:hover,
.nav .link:focus {
	color: var(--focus-color);
}

/* contacts */

.contact {
	display: flex;
	margin-left: auto;
}

.contact .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: inherit;
	text-decoration: none;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.02em;
}

.contact .item:not(:last-child) {
	margin-right: 50px;
}

.contact .link:hover,
.contact .link:focus {
	color: var(--focus-color);
}

/* hero */

.hero {
	/* height: 600px; */

	background-color: var(--footer-background-color);
}

.hero .container {
	padding: 200px 15px;
}

.hero .title {
	margin-top: 0;
	margin-bottom: 30px;

	color: var(--primary-background-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.button {
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	padding-top: 10px;
	padding-right: 32px;
	padding-bottom: 10px;
	padding-left: 32px;

	color: var(--primary-background-color);
	background-color: var(--focus-color);

	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-width: 0px;
}

/* maine content */

.container .list {
	padding: 0px;
	display: flex;
	align-items: center;
}

.text-list {
	width: 270px;
}

.section.command {
	background-color: var(--secondary-background-color);
}

.section-title {
	padding-top: 94px;
	margin-bottom: 50px;
	color: var(--secondary-font-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

.list-title {
	margin-bottom: 10px;

	color: var(--secondary-font-color);

	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.list .item:not(:last-child) {
	margin-right: 30px;
}

.command .container {
	background-color: var(--secondary-background-color);
	padding-bottom: 94px;
}

.section.command .item {
	background: var(--primary-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.item h3 {
	margin-bottom: 10px;
}

.item p {
	padding-bottom: 30px;
}

.section.command .list-title {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

.position {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

/* footer */

.container.footer {
    
	margin-left: auto;
	margin-right: auto;
	padding: 60px 15px;

    width: 1200px;
	height: 252px;
}

.container .address-list,
.adress {
	display: block;
}

.logo-footer {
	margin-right: 93px;
	margin-bottom: 20px;

	color: var(--primary-background-color);

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;

	text-decoration: none;
}
.logo-footer span {
	color: var(--focus-color);
}

.logo-footer:hover,
.logo-footer:focus {
	color: var(--focus-color);
}

.address {
	margin-top: 20px;
}

.adress-list .item:not(:last-child) {
	margin-top: 9px;
}

.address-list .link:hover,
.address-list .link:focus {
	color: var(--focus-color);
}

footer {
	background-color: var(--footer-background-color);
}

.address-list {
	font-style: normal;
	text-decoration: none;
	color: inherit;
}

.address-link {
	text-decoration: none;

	color: var(--primary-background-color);

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* ----------------portfolio page---------------- */

/* filter button */

.filter {
	justify-content: center;
}

.filter-button {
	padding: 6px 22px;
	height: 38px;

	color: var(--footer-background-color);
	background-color: var(--secondary-background-color);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:hover,
.filter-button:focus {
	color: var(--primary-background-color);
	background-color: var(--focus-color);
}

/* portfolio content */

.section {
	margin-top: 94px;
}

.container .filter {
	margin-bottom: 50px;
}
.section .filter {
	display: flex;
}

.section-list {
	display: flex;
	flex-wrap: wrap;
}

.filter-item {
	margin-top: 30px;
	margin-left: 30px;

	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.filter-item:nth-child(3n + 1) {
	margin-left: 0px;
}

.filter-item:nth-last-child(3n + 3) {
	margin-right: 0px;
}

.link {
	text-decoration: none;
	color: inherit;
}

.link-title {
    margin-top: 20px;
    margin-right: 24px;
    margin-bottom: 5px;
    margin-left: 24px;

	color: var(--secondary-font-color);

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.title-description {
    margin-right: 24px;
    margin-left: 24px;
    padding-bottom: 20px;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
}
